.matchScoreboard {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.matchScoreboard__game--currentGame {
    background-color: khaki;
}

.matchScoreboard__game.matchScoreboard__game--currentGame:hover {
    background-color: khaki;
}
.matchScoreboard__game:hover {
    background-color:rgb(247, 244, 224);
}
.matchScoreboard_header {
    display: flex;
    justify-content: space-between;
}
.matchScoreboard_title {
    font-weight: bold;
}
.matchScoreboard_gamelist {
    overflow-y: auto;
}