.square {
    font-size: 16px;
    border: 1px solid black;
    padding: 8px;
    box-sizing: border-box;
    line-height: 40px;
}

.square.square--winning {
    background-color: rgb(45, 194, 45);
}

.square.square--clickable:hover {
    background-color: skyblue;
}